@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

.App {
    font-family : "Raleway", sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 800px;
    margin: auto;
}

.categories-aside {
    min-width: 150px;
}

/* Variables*/

:root {
    --primary : #333;
    --secondary : #snow;
}

/* common */

.d-flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

/* Header */

.header{
    background-color: #333;
    color: snow;
}

.logo {
    font-size : 1.5em;
}

.nav-link-item {
    padding: 0.4em 1em;
    display: inline-block;
}

/* Shop*/

.shop-page {

}

.categories {
    list-style: none;
    padding-left: 0;
    margin-top: 2em;
    margin-bottom: 0.5em;
}


.social {
    display: flex;
}

.socialLink-item {
    padding-right: 0.5em;
    font-size: 2em;
}

/*Shop item*/

.shop-item {
    text-align: center;
    margin-top: 15px;
    font-size: 1em;
    font-weight: normal;
    margin-bottom: 0.2em;
}